.pagetitle {
    display: block !important;
}

.frigtimg {
    float: right;
    width: 150px;
    height: auto;
    display: block;
}

.leftdiv50 {
    width: 50%;
    height: auto;
    float: left;
}

.rightdiv50 {
    width: 50%;
    height: auto;
    float: right;
}

.bordeelftnn {
    border-right: 0px solid #DDDDDD !important;
    border-left: none;
}

/*.stdform2 span.field, .stdform2 div.field {
    margin-left: 220px;
    display: block;
    background: #fff;
    padding: 5px;
    border-left: 1px solid #ddd;
    top: 0px;
    left: 3px;
    width: 424px;
}*/

/*.stdform2 label {
    display: inline-block;
    padding: 10px 20px 0;
    vertical-align: top;
    text-align: right;
    font-weight: bold;
}

.stdform label {
    color: #000;
}*/

.rghtbrdr {
    border-right: 1px solid #DDDDDD;
}

.conformedtick {
    background: url(images/confrmtck.png) no-repeat center 7px;
    width: 26px;
    height: 26px;
    padding: 13px;
}

.notconformedtick {
    background: url(images/noconfrmtck.png) no-repeat center 7px;
    width: 26px;
    height: 26px;
    padding: 13px;
}

.shortinptfld {
    background: none repeat scroll 0 0 #FCFCFC;
    /*margin:7px 0px !important;*/
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px #DDDDDD inset;
    color: #666666;
    padding: 6px 5px !important;
    vertical-align: middle;
}

.bordrtopnone {
    border-top: 0px !important;
}

.widthlablein {
    width: 96.1% !important;
}

.frigtimg {
    position: absolute;
    top: -20px;
    right: 0px;
    width: 80px;
    height: 100px;
    display: block;
}

    .frigtimg img {
        width: 80px;
        height: 100px;
    }

.disnone {
    display: none;
}

.disblock {
    display: block;
}

.expandable {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    padding: 10px 0;
    background: url(/images/expand.png) no-repeat 5px 7px;
    padding-left: 45px;
}

.colspan {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    padding: 10px 0;
    background: url(/images/colspan.png) no-repeat 5px 7px;
    padding-left: 45px;
}


/* TODAY CSS 12 10 2013 */
.subh4title {
    border-bottom: 1px solid #DDDDDD;
    padding: 15px 0 10px 0;
}

.labeltext {
    width: 90%;
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px #DDDDDD inset;
    color: #333;
    padding: 5px 5px;
    display: block;
    vertical-align: middle;
}

.spaninptregisr {
    margin-left: 0px !important;
    width: 69% !important;
    background-color: transparent !important;
    float: right;
    padding: 5px 10px 5px 20px;
}

.rollpnum {
    float: left;
    height: auto;
    margin: 0 !important;
    width: 88%;
}

.widthrollinpt {
    width: 82% !important;
    margin-right: 10px;
}

#labelshorting {
    display: inline-block;
    height: auto;
    line-height: 30px;
    padding: 2px 10px;
    width: 15%;
}

#marginleft120 {
    /*background-color: rgba(0, 0, 0, 0) !important;*/
    display: inline-block !important;
    float: left !important;
    margin-left: 0 !important;
    margin-right: 5px !important;
    padding: 0 10px !important;
    width: 22% !important;
}

.shortingbxtext {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px #DDDDDD inset;
    color: #333333;
    display: inline-block;
    margin: 7px 0 !important;
    padding: 3px 5px;
    vertical-align: middle;
    width: 84%;
}

.widthintext19 {
    width: 96% !important;
}

#labelrfid {
    display: inline-block;
    height: auto;
    line-height: 30px;
    padding: 2px 10px;
    width: 20%;
}

#labelrfidshort {
    display: inline-block;
    height: auto;
    line-height: 30px;
    padding: 2px 10px;
    width: 16%;
}

.addresstext {
    width: 90%;
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px #DDDDDD inset;
    color: #333;
    height: 50px;
    padding: 5px 5px;
    display: block;
    vertical-align: middle;
}

.borderbtrw {
    border: 0px !important;
}
