<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="18.1.1" targetFramework="net40" />
  <package id="AjaxControlToolkit.HtmlEditor.Sanitizer" version="18.1.1" targetFramework="net40" />
  <package id="AjaxMin" version="4.97.4951.28483" targetFramework="net40" />
  <package id="Crystal.Reports.Essentials" version="13.0.20.2399" targetFramework="net40" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net40" />
  <package id="CrystalReports.Engine" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.3501" targetFramework="net40" />
  <package id="CrystalReports.Shared" version="13.0.3501" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net40" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.1" targetFramework="net40" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net40" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40" />
  <package id="RestSharp.Net2" version="1.1.11" targetFramework="net40" />
</packages>